﻿@using Microsoft.AspNetCore.Razor.TagHelpers
@model Car

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class="form-control" }})
    @Html.ValidationMessageFor(model => model.Name, null, new { @class= "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Year)
    @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Year, null, new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Producer)
    @Html.DropDownList("Producer", Html.GetEnumSelectList<CarProducersEnum>(), "Select", new {@class = "form-control"})
</div>