﻿@model IEnumerable<WebApp.Models.Car>

@{
    ViewData["Title"] = "Cars List";
}

<h1>Cars List</h1>

<p>
    @Html.ActionLink("Register New Car", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th class="car-name-table-column">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="car-year-table-column">
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th class="car-producer-table-column">
                @Html.DisplayNameFor(model => model.Producer)
            </th>
            <th class="actions-table-column"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.OrderBy(c => c.Year))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => car.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Producer)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { carId = car.Id }) |
                    <button type="button" class="btn btn-danger btn-sm" data-href="@Url.Action("Delete", new { carId= car.Id})" data-toggle="modal" data-target="#deleteConfirmationModal">Delete</button>

                    @*@Html.ActionLink("Delete", "Delete", new { carId = car.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteConfirmationModal">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="delete-icon-box">
                    <img src="~/delete.png" alt="Deleting Item" />
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="True">&times;</button>
            </div>
            <div class="modal-body">
                <p>Operation can't be undone. Are you sure?</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" id="runDelete">Delete</a>
            </div>
        </div>
    </div>
</div>
<!-- EndModal -->

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $('#deleteConfirmationModal').on('show.bs.modal', function (e) {
                $(this).find('#runDelete').attr('href', $(e.relatedTarget).data('href'));
            });
        });
    </script>
}
