﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the test application created for Pitney Bowes to demonstrate what do I know about ASP.NET Core MVC. :-)</p>
    <span>Hope you'll like it.</span>
</div>
