﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/favicon.ico" />
    <title>Cars - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.min.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        @Html.ActionLink("Cars", "Index", "Cars", null, new {@class="nav-link text-dark"})
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, new {@class="nav-link text-dark"})
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Cars Catalogue. Denys Chuiko
    </div>
</footer>
<script src="~/js/site.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
